@import "tailwindcss";




::view-transition-new(root) {
  clip-path: circle(0% at var(--x) var(--y));
  animation: reveal 0.9s cubic-bezier(0.2, 0, 0.2, 1) forwards;
}

@keyframes reveal {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(160% at var(--x) var(--y));
  }
}


.scroll-row {
  display: flex;
  gap: 24px;
  width: max-content;
}

.card {
  width: 320px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

/* LEFT SCROLL */
.scroll-left {
  animation: scrollLeft 80s linear infinite;
}

/* RIGHT SCROLL */
.scroll-right {
  animation: scrollRight 80s linear infinite;
}

.scroll-row:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}



@keyframes flow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes stepGlow {
  0%, 100% {
    box-shadow: 0 0 0px rgba(251,146,60,0);
  }
  50% {
    box-shadow: 0 0 10px rgba(226, 226, 225, 0.4);
  }
}





@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}


.float-slow:nth-child(1) { animation-delay: 1s; }
.float-slow:nth-child(2) { animation-delay: 1s; }
.float-slow:nth-child(3) { animation-delay: 2s; }
.float-slow:nth-child(4) { animation-delay: 2s; }






